html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
  
body {
  display: flex;
  background-image: cover;
  background-image: url("https://images.unsplash.com/photo-1532765488483-62ff440ee4fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: turquoise;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: darkgreen;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmt6kaY2pgirslHbrinBjpy0IfykV4V5ERfeO0GkcL1djPbZbN") goldenrod;
}

div.hidden {
  background: #ada;
}

div.hidden:hover {
  background: #cad;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmt6kaY2pgirslHbrinBjpy0IfykV4V5ERfeO0GkcL1djPbZbN") deepskyblue;
}
