html {
  height: 100%;
  font-family: 'menlo, skia;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}
#notes {
  font-size: 1.5rem;
}
#message  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
div.board  {
 display: block;
  flex-wrap: inherit;
  color: rgb(3, 29, 32);
  font-size: 15pt;
  width: 50%;
  height: 50%;
  border: 3px, solid, rgba(216, 5, 103, 0.897);
  border-radius: 50%;
  background-color: #0cdfaa;
  margin: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
}

div.board.hover {
  background-color: #5d1054;
}

div.mine {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: #91c09c;
}



div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") #8de6db;
}
div.hidden:hover {
  background: #5da842;
}